@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Teko&display=swap');
*{
    font-family: Teko;
    margin:0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html, body, #root{
    height: 100%;

}

body{
    background-color: #e5e6f0;
    -webkit-font-smoothing: antialiased;
}

body, input, button{
    font-family: Roboto, sans-serif;
}

.contact{
    background-color: #b8b8b841;
    margin-top: 30px;
    border-radius: 5px;
}