@import url('https://fonts.googleapis.com/css?family=Teko&display=swap');

.bannerImg{
    width: 100%;
   
}

.titleBanner{
    width: 100%;
    font-family: Teko;
    font-size: 170px;
    padding-left: 10%;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    color: black;
}

.Rectangle-4 {
    width: 170px;
    height: 50px;
    background-color: black;
    transition: all 0.5s ease;
}

.Rectangle-4:hover {
    background: red; 
    -webkit-transition: background-color 2s ease-out;
    -moz-transition: background-color 2s ease-out;
    -o-transition: background-color 2s ease-out;
     transition: background-color 2s ease-out;
     transform: scale(1.4);
  }

.viewCase{
    width: 170px;
    height: 30px;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: center;
    color: white;
}

